pkg/
src/
*.pkg.tar.xz
*.tar.bz2
*.tar.gz
groovy/*/**
!groovy/*/PKGBUILD
!groovy/*/*.patch
!groovy/*/*.install
hydro/*/**
!hydro/*/PKGBUILD
!hydro/*/*.patch
!hydro/*/*.install
indigo/*/**
!indigo/*/PKGBUILD
!indigo/*/*.patch
!indigo/*/*.install
